.movie-page {
    background-color: var(--black-color);
    color:  var(--white-color);
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.movie-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--black-color);
}
  
  /* Main */
.movie-main {
    padding: 70px;
}
  
.movie-content {
    display: flex;
    flex-wrap: wrap;
}
  
.movie-poster {
    width: 519px;
    height: 650px;
    overflow: hidden;
}

.poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
  
.movie-info {
    flex: 1;
    max-width: 378px;
    margin: 0 90px;
}
  
.info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.movie-title {
    margin: 0;
}

.movie-save {
    background: none;
    border: none;
}
  
.genre-tags {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-bottom: 30px;
}
  
.genre-tag {
    background-color: var(--grey-color);
    padding: 5px 26px;
    margin: 5px 15px;
    border-radius: 13px;
    display: inline-block;
}
  
.movie-rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
  
.review-count {
    margin-left: 24px;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--grey-color);
}
  
.movie-frame {
    width: 100%;
    max-width: 378px;
    border: 4px solid var(--blue-color);
    border-radius: 10px;
    box-shadow: 0 4px 65px rgba(0, 0, 0, 0.25);
    margin: 30px 0;
}
  
.movie-description {
    color:  var(--grey-light-color);
    font-size: 0.875rem;
    line-height: 1.2rem;
    text-align: justify;
}
  
.select-session-btn {
    margin-top: 50px;
    padding: 16px 48px;
    background-color: var(--blue-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 13px;
}
  
  /* Aside */
.movie-details {
    max-width: 290px;
}
  
.detail-block {
    margin-bottom: 30px;
}
  
.detail-label {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--grey-color);
    margin-bottom: 4px;
}
  
.detail-value {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--grey-light-color);
}
  
  /* Trailer */
.movie-trailer {
    margin-top: 60px;
}
  
.trailer-title {
    margin-bottom: 60px;
}
  
.trailer-box {
    height: 578px;
    position: relative;
}

.trailer-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}