.login-content .logo-log{
    height: 100px;
    width: 100px;
    display: flex;
    background-color: var(--blue-color);
    border-radius: 50%;
        align-items: center;
    justify-content: center;
}
.login-content .logo-log img{
   width: 70%;
    height: auto;
}
.login-logo{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}
.log-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-content button{
     font-weight: 700;
    font-size: 20px;
    padding: 16px 20px;
    cursor: pointer;
}
.not-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.not-reg p{
    font-family: "Montserrat", sans-serif;
     font-weight: 600;
    font-size: 14px;
}
.log-reg{
    cursor: pointer;
}
.log-reg:hover{
    color: var(--purple-color);
}
.login-window{
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    background-color: var(--black-light-color);
    border-radius: 13px;
    box-shadow: inset 0px 4px 87px 0px rgba(3, 169, 244, 0.17);
    padding: 80px;
    width:20%;
}
.login-content form{
     display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}
.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    flex: 1;
}

.login-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.input{
    height: 30px;
    width: 90%;
    justify-content: center;
    color: var(--black);
    border-radius: 13px;
    box-shadow: inset 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    background: rgb(128, 128, 128);
    padding: 6px 20px;
}
input::placeholder {
  color: var(--black); /* Light gray color */
  
}