.footer{
    display: flex;
    flex-direction: row;
    padding: 12px 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #221F1F;
}
    
.logo-circle{
    background-color: #03A9F4;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
    
.footer-icons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 50px;
} 
