/* загальне налаштування для кнопок */

.account-page button{
    font-weight: 700;
    font-size: 20px;
}
.account-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  
}
.account-content{
    display: flex;
    padding: 62px 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 128px;
    flex: 1; 
}
.account-content .admin{
    color: var(--blue-color);
}
 /* частина даних про акаунт */
 .account-profile-content{
    display: flex;
    flex-direction: row;
    gap: 86px;
    align-items: center;
}
/* фото + нікнейм */
.account-profile-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.account-photo{
    border-radius: 50%;
    background-color: var(--grey-light-color);
    width: 255px;
    height: 255px;
}
/* данні про акаунт */
.account-profile-big{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.edit-movies-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.edit-movies-btn:hover {
  background-color: #45a049;
}

.account-name{
    display: flex;
    gap: 50px;
}
.account-item-box{
    padding: 6px 20px;
    border-radius: 13px;
    box-shadow: inset 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--grey-color);
    width: 178px;
    margin-top: 20px;
}
.account-item-box p{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
    color: var(--black-color);
}
.account-exit{
    color: var(--grey-color);
}
.account-exit:hover{
    color: var(--purple-color);
}

/* частина з пропозиціями */
.account-promotion{
    display: flex;
    flex-direction: row;
    padding: 25px 32px;
    background-color: var(--blue-color);
    border-radius: 13px;
    gap: 12px;
    align-items: center;
}
/* текст пропозиції */
.promotion-content{
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.promotion-content-title{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.promotion-content-title h2{
    color: var(--black-light-color);
}
.promotion-content button{
    background-color: var(--black-light-color);
    color: var(--white-color);
    padding: 24px 94px;
}
.promotion-content button:hover{
    color: var(--black-light-color);
    background-color: var(--purple-color);
}
.promotion-content p{
    font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--black-light-color);
  white-space: nowrap;
}
/* код пропозиції */
.promotion-code{
    background-color: var(--grey-light-color);
    border-radius: 13px;
    aspect-ratio: 1 / 1;
    display: flex;
  align-items: center; 
  justify-content: center;
  width: 264px;
  height: 264px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  padding: 10px;
  text-align: center;
}
.promotion-code:hover{
    transform: scale(1.05);
  background-color: var(--grey-color);
  color: var(--white-color);
}
.promotion-code h2{
    color: var(--black-light-color);
    
}





